<app-nav-bar [opened]="menuOpened" (menuToggle)="setMenuState($event)"></app-nav-bar>

<div class="content-fluid">

    <app-full-banner></app-full-banner>

    <div class="margin-list"></div>

    <app-list-titles title="Adicionados recentemente" [list]="listTitles"></app-list-titles>
    <app-list-titles title="Em alta" [list]="listTitles"></app-list-titles>
    <app-list-titles title="Continuar assistindo como VINICIUS ALVES" [list]="listTitles"></app-list-titles>
    <app-list-titles title="Filmes de ação" [list]="listTitles"></app-list-titles>
    <app-list-titles title="Filmes épicos" [list]="listTitles"></app-list-titles>
  </div>

<app-footer></app-footer>

<div class="backdrop" (click)="closeMenu()" *ngIf="menuOpened"></div>
