/* You can add global styles to this file, and also import other style files */
body {
    background-color: #1B1B1B!important;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;


}
.backdrop {
    background-color: rgba(0,0,0,.4);
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
    }
}

